*{
  box-sizing: border-box;
}

*:focus{
  outline: 5px dotted #7296ec;
  outline-offset: 3px;
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial",  sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  line-height: normal;

}


/* CONTAINER */

.container{
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* SITE HEADER */

/* SITE-HEADER TOP */

.site-header-top {
  background: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.site-header-top-container{
  display: flex;
  align-items: center;

}

.site-logo{
  margin-right: 30px;
}
.site-logo:hover{
  opacity: 0.8;
}

.site-logo:active{
  opacity: 0.6;
}

/* currency-rates */

.currency-rates {
  display: flex;
  align-items:center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}

.currency-rates-tipe {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2959ce;
}
.currency-rates-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color:#555555;
}

/* GLOBAL_SEARCH_FORM */

.global-search-form {
  margin-right: 25px;
}

.global-search-form-input {
  width: 275px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  background: #FFFFFF;
  border-radius: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  border:none;
}

/* LANG TOGGLE */
.lang-toggle {
  display: flex;
  padding: 3px;
  background: #DCE6FF;
  border-radius: 39px;
  margin-right: 25px;
}
.lang-toggle-link {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #a6a6a6;
}

.lang-toggle-link:active {
  background-color: #fff;

}
.lang-toggle-link-active {
  background-color: #fff;
  color:#000000;
}

/* BUTTON */
.button {
  border:none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
.button-primary {
  background: #7296ec;
  color:#fff;
}

.button-orange {
  background: #F78B3B;
  color:#ffffff;
}

.button-block{
  display: block;
  width: 100%;
}
button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}

/* SITENAV */

.site-nav {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #d1d1d1;

}

.site-nav:not(:last-child){
  margin-bottom: 40px;
}
.site-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

}

.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34px;

}
.sitenav-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7F7F7F;
  text-decoration: none;
}

.sitenav-link:hover{
  color:#7296ec;
}

.sitenav-link:active{
  opacity: 0.6;
}

  /* site-header banner */

.site-header-banner-link{
  display: flex;
}

.site-header-banner-img{
  border-radius: 9px
}


.main-content{
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}
/* GRID NEWS */
.top-news {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: -10px;
}

.grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background: #F6F6F6;
}
.article-card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  margin-bottom: 10px;
}
.article-card-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.article-card-link:hover {
  color:#7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text{
  margin-top: 0px;
  margin-bottom: 15px;
}

.article-card-img {
  margin-top: auto;
  display: block;
  width: 360px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-source-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.article-card-source-time {
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

/* NOTIFICATION CTA  */
.notification-cta {
  border-radius: 10px;
  width: 1050px;
  margin: 60px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e67878;
  padding: 24px 71px 24px 29px;
}
.notification-cta-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

/* GLOBAL-NEWS */


.global-news-heading{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.news-list{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.news-list-item:not(:last-child) {
  margin-bottom: 10px;

}

/* ARTICALE-CARD-HORIZONTAL */
.article-card-horizontal {
  display: flex;
  align-items: flex-start;
  padding: 20px 17px 20px 20px;
  border-radius: 15px;
  background: #F6F6F6;
}
.article-card-horizontal-img {
  width: 210px;
  height: 165px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 10px;
}
.article-card-horizontal-content {
  flex-grow: 1;

}
.article-card-horizontal-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
}

.article-card-horizontal-heading-link{
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.article-card-horizontal-heading-link:hover {
  color:#7296ec;
}

.article-card-horizontal-heading-link:active {
  opacity: 0.6;
}
.article-card-horizontal-text {
  margin: 0;
  margin-bottom: 17px;
}
.article-card-horizontal-footer {
  display: flex;
  align-items: center
}
.article-card-horizontal-source-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 10px;
}
.article-card-horizontal-source-time {
  display: block;
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;

}

/* LAYOUT */
.layout-1{
  display: flex;
  align-items: flex-start;
}

.layout-2-3-main{
  width: 797px;
  margin-right: 10px;
}

.layout-1-3-sitebar{
  width: 393px;
}
.layout-1-item:not(:last-child){
  margin-bottom: 10px;
}
/* SITEBAR-NEWS */

.siteber-news-card {
  background: #f6f6f6;
  border-radius: 15px;
  padding: 20px;
}
.sitebar-news-card-heading {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.sitebar-news-card-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitebar-news-card-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sitebar-news-card-item:first-child {
  padding-top: 0;
}
.sitebar-news-card-item:last-child {
  padding-bottom: 0;
}
.sitebar-news-card-item:not(:last-child) {
  border-bottom: 1px solid #D2D2D2;
}

.sitebar-news-card-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.sitebar-news-card-link:hover {
  color:#7296ec;
}

.sitebar-news-card-link:active {
  opacity: 0.6;
}
.sitebar-news-card-source-time {
  font-size: 13px;
  line-height: 15px;
  display: block;
  color: #5e5f61;
}

/* SITEBAR-AD */
.sitebar-ad-link {
  display: flex;
}
.sitebar-ad-img {
  object-fit: cover;
  width: 393px;
  height: 338px;
  border-radius: 15px;
}

.list-sitebar-ad-img{
  object-fit: cover;
  width: 393px;
  height: 553px;
  border-radius: 15px;
}

/* SITE-FOOTER */
footer *:focus{
  outline: 3px dotted #fff;
  outline-offset: 2px;
}

.site-footer {
  background-color: #7297ef;
  color: #fff;
}

.site-footer-container{
  padding: 40px 100px;
}
.site-footer-logo-wrapper {
  display: flex;
  margin-bottom: 15px;
}
.site-footer-logo-link {
  display: flex;
}
.site-footer-logo-link:hover {
  opacity: 0.8;
}
.site-footer-logo-link:active {
  opacity: 0.6;
}
.site-footer-logo-img {
  width: 264px;
  height: 28px;
  object-fit: contain;
}
.site-footer-about-links {
  display: flex;
}
.site-footer-about {
  width: 230px;
  font-size: 12px;
  line-height: 19px;
  margin-right: 203px;
}

.site-footer-links {
  flex-grow: 1;
  display: flex;

}
.dite-footer-links-list {
  margin: 0;
  padding: 0;
  padding-right: 24px;
  width: 50%;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.site-footer-links-item:not(:last-child) {
  margin-bottom: 20px;
}
.site-footer-links-link {
  display: inline-block;
  text-decoration: none;
  color: #fff
}

.site-footer-links-link:hover{
  text-decoration: underline;
}
.site-footer-divider {
  margin: 0;
  height: 1px;
  border: none;
  background: #cecece;
  margin-bottom: 20px;
  margin-top: 30px;
}
.site-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.site-footer-socials-text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.site-footer-socials-list {
  display: flex;
  align-items: center ;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-footer-socials-item:not(:last-child) {
  margin-right: 25px;
}

.site-footer-socials-link{
  display: flex;
}
.site-footer-socials-img{
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* FORM */

.form-fields{
  margin-bottom: 20px;
}

.form-field-wrapper{
  display: flex;
  justify-content: space-between;
}

.form-field-wrapper .form-group{
  width: calc(50% - 5px);
}

.form-group:not(:last-child) {
  margin-bottom: 10px;
}

.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 18px 20px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-field-textarea {
  min-height: 180px;
  resize: vertical;
}

  /* CONTACT-SECTION */
.contact-page {
  margin-top: 10px;
}

.contact-page-form{
  display: flex;
  flex-direction: column;
  width: 696px;
}
.contact-page-content {
  width: 100%;
  max-width: 696px;
}

.contact-page-form-submet{
  align-self: flex-end;
}
