*{
  box-sizing: border-box;
}

*:focus{
  outline: 5px dotted #7296ec;
  outline-offset: 3px;
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial",  sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
  line-height: normal;

}


/* CONTAINER */

.container{
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* SITE HEADER */

/* SITE-HEADER TOP */

.site-header-top {
  background: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.site-header-top-container{
  display: flex;
  align-items: center;

}

.site-logo{
  margin-right: 30px;
}
.site-logo:hover{
  opacity: 0.8;
}

.site-logo:active{
  opacity: 0.6;
}

/* currency-rates */

.currency-rates {
  display: flex;
  align-items:center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}

.currency-rates-tipe {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2959ce;
}
.currency-rates-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color:#555555;
}

/* GLOBAL_SEARCH_FORM */

.global-search-form {
  margin-right: 25px;
}

.global-search-form-input {
  width: 275px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  background: #FFFFFF;
  border-radius: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  border:none;
}

/* LANG TOGGLE */
.lang-toggle {
  display: flex;
  padding: 3px;
  background: #DCE6FF;
  border-radius: 39px;
  margin-right: 25px;
}
.lang-toggle-link {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #a6a6a6;
}

.lang-toggle-link:active {
  background-color: #fff;

}
.lang-toggle-link-active {
  background-color: #fff;
  color:#000000;
}

/* BUTTON */
.button {
  border:none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
.button-primary {
  background: #7296ec;
  color:#fff;
}

.button-orange {
  background: #F78B3B;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}

/* SITENAV */

.site-nav {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}
.site-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

}

.sitenav-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 34px;

}
.sitenav-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7F7F7F;
  text-decoration: none;
}

.sitenav-link:hover{
  color:#7296ec;
}

.sitenav-link:active{
  opacity: 0.6;
}

  /* site-header banner */

.site-header-banner-link{
  display: flex;
}

.site-header-banner-img{
  border-radius: 9px
}

/* GRID NEWS */
.top-news {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: -10px;
}

.grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background: #F6F6F6;
}
.article-card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  margin-bottom: 10px;
}
.article-card-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.article-card-link:hover {
  color:#7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text{
  margin-top: 0px;
  margin-bottom: 15px;
}

.article-card-img {
  margin-top: auto;
  display: block;
  width: 360px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-source-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.article-card-source-time {
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

/* NOTIFICATION CTA  */
.notification-cta {
  border-radius: 10px;
  width: 1050px;
  margin: 60px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e67878;
  padding: 24px 71px 24px 29px;
}
.notification-cta-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
